* {
    margin: 0;
    padding: 0;
}
li {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
html,
body {
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    height: 70vh;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
img {
    height: 450px;
    
}